$primary-color: #ffffff;
$primary-text-color: #6c757d;
$border-radius: 2px;
$bg_path: url("assets/login-bg.png");
$primary: #5d9143;
$btn-txt-color: #ffffff;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$grid-breakpoints: (
  sm: $breakpoint-sm,
  md: $breakpoint-md,
  lg: $breakpoint-lg,
  xl: $breakpoint-xl,
  xxl: $breakpoint-xxl,
);
$primary_color: #024059;
$error_color: #ff3654;

$positions: (static, absolute, relative, fixed, sticky);

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://use.typekit.net/wyu3dug.css");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    // Common values
    @each $position in $positions {
      .position#{$infix}-#{$position} {
        position: $position !important;
      }
    }
  }
}
html,
body,
#app {
  height: 100%;
}
body {
  color: #3d484d;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary_color;
}
body {
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}
a,
p,
input.form-control {
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 500;
  font-style: normal;
}
label {
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}
button,
.btn {
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 600;
  font-style: normal;
  /* font: "normal normal 600 16px/20px FreightSans Pro"; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "lavigne-display", sans-serif;
  font-weight: 700;
  font-style: normal;
}

input.type-number,
.timing-color {
  font-family: "Roboto";
}

.container {
  margin: 0 auto;

  h3 {
    color: $primary-text-color;
  }

  .page-title {
    font-size: 30px;
  }
}

.input-errors {
  font-size: 10px;
  margin-top: 5px;
  color: $error_color;
  font-weight: 500;
}

.form-control.is-invalid {
  color: $error_color;
}

.form-control {
  font-size: 14px;
  padding: 10px 15px;
}
.half-bg {
  background-image: $bg_path;
  background-size: 50%;
  background-repeat: repeat-y;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.login-section {
  width: 100%;
  margin-top: 15px;
  height: calc(100% - 120px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .login-form {
    max-width: 350px;
    margin: 0 auto;
    width: 100%;
  }
}
.error-icon {
  padding-right: 20px;
  background: url(/src/assets/icons/error-ques.svg) no-repeat 9px center;
}
.vuejs3-datepicker .vuejs3-datepicker__value {
  border: 0;
  flex-direction: row-reverse;
  padding: 10px 15px;
  justify-content: space-between;
  width: 100%;
}

.vuejs3-datepicker .vuejs3-datepicker__content {
  font-size: 14px;
  margin-left: 0;
}
.resend-code {
  text-decoration: underline;
  font-size: 14px;
  color: $primary;
  font-weight: 600;
  letter-spacing: 0.14px;
  cursor: default;
}
.resend-code:hover {
  color: #198754 !important;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.timing-color {
  color: $primary_color;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.85px;
}
.edit-email {
  text-decoration: underline;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.14px;
  color: $primary;
  text-transform: uppercase;
  cursor: pointer;
}
.fonttext-color {
  text-align: left;
  font: normal normal 600 16px/24px FreightSans Pro;
  letter-spacing: 0.85px;
  color: #024059;
  opacity: 1;
}
.button-successcolor {
  background: var(--unnamed-color-5d9143) 0% 0% no-repeat padding-box;
  background: #5d9143 0% 0% no-repeat padding-box;
  opacity: 1;
}
.button-successcolor:hover {
  background: var(--unnamed-color-5d9143) 0% 0% no-repeat padding-box;
  background: #5d9143 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #ffffff;
}
.btn-primary,
.btn-primary:hover,
.btn.btn-primary:active {
  color: $btn-txt-color;
}
.heading-title {
  font-size: 30px;
  color: $primary-color;
  margin-bottom: 20px;
}
label.form-label {
  font-size: 14px;
  color: #3d484d;
}
p {
  font-size: 16px;
}
.btn {
  font-size: 16px;
  height: 41px;
}
.form-control {
  color: $primary_color;
}
.form-control:focus {
  border: 1px solid #1b97bf;
  box-shadow: none;
}
.form-control.is-invalid {
  color: $error_color;
  border: 1px solid $error_color;
  background-image: url(/src/assets/icons/error-tri.svg);
  background-position: right 12px center;
  background-size: 13px;
}
.form-control.is-invalid:focus {
  box-shadow: none;
  border: 1px solid $error_color;
}
.vuejs3-datepicker {
  .vuejs3-datepicker__typeablecalendar {
    background-image: url("/src/assets/icons/cal-date.svg");
    left: auto;
    top: 12px;
    right: 12px;
    width: 18px;
    height: 18px;
  }
  .vuejs3-datepicker__inputvalue {
    border: 1px solid #dee2e6;
    padding: 10px 15px;
    border-radius: $border-radius;
  }
  .vuejs3-datepicker__typeablecalendar svg {
    display: none;
  }
}

.login-header {
  top: 25px;
  right: 25px;
}
.footer-row {
  display: flex;
  margin-top: 30px;
  align-self: center;

  .footer-links {
    margin-right: 20px;
    margin-bottom: 35px;

    ul {
      display: flex;
      list-style: none;
      margin-bottom: 0;

      li {
        a {
          text-decoration: none;
          color: $primary_color;
          line-height: 15px;
          display: block;
          a:hover {
            text-decoration: underline;
          }
        }
      }
      li:not(:last-child) {
        margin-right: 10px;
        border-right: 1px solid $primary_color;
        padding-right: 10px;
      }
    }
  }
}
.email-text {
  font-weight: 600;
  letter-spacing: 0.85px;
  color: $primary_color;
}

.container-fluid.login-page {
  min-height: calc(100% - 200px);
}
.Toastify__toast-container {
  .Toastify__toast {
    font-family: "freight-sans-pro", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: $primary_color;
    background: linear-gradient(to right, #4caf50 15px, #fff 15px);
    padding-left: 22px;
    border-radius: 6px;

    button.Toastify__close-button {
      margin-top: 10px;
    }
    .Toastify__toast-icon {
      width: 26px;
      height: 26px;
    }
  }
}
.benefit-img {
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
  position: relative;

  .background-gradient {
    background: transparent
      linear-gradient(204deg, $primary 0%, #0091bf 52%, $primary_color 100%) 0%
      0% no-repeat padding-box;
    width: calc(50% + 15px);
    position: absolute;
    z-index: -1;
    left: -15px;
    top: 0;
    min-height: 100%;
  }
  .benefits-section {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    bottom: 45px;
    left: 0;
    right: 0;
    z-index: 1;

    .benefit-title {
      font-size: 46px;
    }
  }

  .black-gradient {
    background: transparent linear-gradient(177deg, #00000000 50%, #000000 100%)
      0% 0% no-repeat padding-box;
    width: 100%;
    max-width: 609px;
    left: 0;
    height: calc(100% - 35px);
    position: absolute;
    right: 0;
    bottom: 35px;
    margin: 0 auto;
    z-index: 0;
  }

  img {
    width: 100%;
  }
}
.tooltip {
  opacity: 1;
  z-index: 100;
  position: absolute;
  padding: 5px 10px;
  background-color: #00678d;
  color: #fff;
  font-size: 12px;
  max-width: 200px;
}
.tooltip:after {
  position: absolute;
  top: 100%;
  left: 10px;
  margin: 0 auto;
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #00678d;
}
.edit-pencil {
  background: url(/src/assets/icons/edit-pencil.svg) no-repeat left;
  padding-left: 20px;
}
@media (min-width: $breakpoint-lg) {
  .benefit-img img {
    width: auto;
    max-width: 100%;
  }
  .login-section {
    margin-top: 120px;
  }
  .footer-row {
    align-self: flex-end;
  }
}
