$primary-color: #ffffff;
$primary-text-color: #6c757d;
$border-radius: 2px;

@import "~bootstrap/scss/bootstrap";

body {
  background-color: $primary-color;
}
.container {
  margin: 0 auto;

  h3 {
    color: $primary-text-color;
  }

  .page-title {
    font-size: 30px;
  }
}

.container-fluid {
  label.form-label {
    font-size: 14px;
  }
}
